*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:sans-serif;

    background:linear-gradient(
        135deg,
        #ffffff 0%,
        #f8fbff 45%,
        #edf4ff 100%
    );
}
